---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].forthcoming_events | default: "Forthcoming Events" }}</h3>
{% assign events = site.posts | where_exp: 'post', 'post.categories contains "event" %}
{% if paginator %}
  {% assign events = paginator.events %}
{% else %}
  {% assign events = site.events %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=events type=entries_layout %}
</div>

{% include paginator.html %}
